@model Project_BloodDonation.Models.Member

@*@{
    ViewData["Title"] = "Create";
    @if(User.IsInRole("Doctor"))
   {
      Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
   }
     if (User.IsInRole("Donor"))
   {
        Layout = "~/Views/Shared/_LayoutDonor.cshtml";
   }

    else if (User.IsInRole("Patient"))
    {
        Layout = "~/Views/Shared/_LayoutPatient.cshtml";
    }

    else if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }

}
*@

    <h4 class="cen">Enter Your Information</h4>
   

<hr />
<div class="container">
   <main class="main" id="main">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" enctype ="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <h2 class="Binfo">Basic Information</h2>
                    <hr />
                    <div class="col-lg-6 ">
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control"/>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Contact" class="control-label"></label>
                            <input asp-for="Contact" class="form-control"/>
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                       <div class="form-group">
                            <label asp-for="Age" class="control-label"></label>
                            <input asp-for="Age" class="form-control" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>

                  <div class="form-group">
                     <label asp-for="NID" class="control-label"></label>
                     <input asp-for="NID" class="form-control" />
                     <span asp-validation-for="NID" class="text-danger"></span>
                  </div>

                  <div class="form-group">
                     <label asp-for="SmartCard" class="control-label"></label>
                     <input asp-for="SmartCard" class="form-control" />
                     <span asp-validation-for="SmartCard" class="text-danger"></span>
                  </div>


                  <div class="form-group">
                     <label asp-for="Passport" class="control-label"></label>
                     <input asp-for="Passport" class="form-control" />
                     <span asp-validation-for="Passport" class="text-danger"></span>
                  </div>
                    </div>

                    <div class="col-lg-6">

                  <div class="form-group">
                     <label asp-for="Role" class="control-label"></label>
                     <input asp-for="Role" class="form-control" />
                     <span asp-validation-for="Role" class="text-danger"></span>
                  </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="BloodgroupId" class="control-label"></label>
                            <select asp-for="BloodgroupId" class="form-control" asp-items="ViewBag.BloodgroupId"></select>
                        </div>

                        <div class="form-group">
                            <label asp-for="MemberTypes" class="control-label"></label>
                            <select asp-for="MemberTypes" class="form-control" asp-items="Html.GetEnumSelectList<MemberTypes>()">
                                <option value="0" selected>Please select Type</option>

                            </select>
                        </div>

                        <div class="form-group mt-4 memimg">
                            <label asp-for="ImageFile" class="control-label">Upload Image</label>
                            <input asp-for="ImageFile" accept="image/png,image/jpeg,image/jpg"/>
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>

                        <div class="form-group memgndrmt">
                            <label asp-for="MemberGender" class="control-label"></label>
                           <select asp-for="MemberGender" class="form-control" asp-items="Html.GetEnumSelectList<MemberGender>()"></select>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                
                    </div>
                </div>

              <div class="row">
                    <h2>Location</h2>
                    <hr />
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label">Country</label>
                     <select onchange="loadDivision(this)" class="form-control" asp-items="ViewBag.CountryId">
                                <option value="0">Select Country</option>
                            </select>
                          
                        </div>
                        <div class="form-group">
                            <label class="control-label">District</label>
                     <select onchange="loadThana(this)" class="form-control" id="DistrictId">
                                <option value="0">Select District</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="AreaId" class="control-label"></label>
                     <select asp-for="AreaId" class="form-control" id="AreaId">
                                <option value="0">Select Area</option>
                     </select>
                        </div>                                           
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label  class="control-label"></label>
                     <select onchange="loadDistrict(this)" class="form-control" id="DivisionId">
                                <option value="0">Select Division</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label  class="control-label">Thana</label>
                     <select onchange="loadArea(this)" class="form-control" id="ThanaId">
                                <option value="0">Select Thana</option>
                            </select>
                        </div>
                    </div>
                </div>   
                
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group mt-3">
                            <input type="submit" value="Save & Next" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mt-3">
                            <a asp-action="Index" class="btn btn-success">Back to List</a>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
   </main>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
      
        function loadDivision(cid) {
            console.log(cid)
            console.log(cid.value)
            let countryid = cid.value
            console.log(countryid)
            $.ajax({
                url: "/Members/GetDivisionbyCountry?countryid=" + countryid,
                method: "GET",
                
                success: function (data) {
                    console.log(data)
                    var drp = $("#DivisionId");
                    drp.empty();
                    drp.append(' <option value="0">Select Division</option>')
                    $.each(data, function (i, v) {
                        drp.append("<option value='" + v.id + "'>" + v.name + "</option>")
                    })
                }
            })
        }

        function loadDistrict(drp) {

            let divId = drp.value
         
            $.ajax({
            url: "/Members/GetDistrictbyDivision?divid=" + divId,
                method: "GET",

                success: function (data) {
                    console.log(data)
                    var drp = $("#DistrictId");
                    drp.empty();
                    drp.append(' <option value="0">Select District</option>')
                    $.each(data, function (i, v) {
                        drp.append("<option value='" + v.id + "'>" + v.name + "</option>")
                    })
                },
                error: function (er) {
                    console.log(er.responseText)
                }
            })
        }


        function loadThana(drp) {

            let distId = drp.value

            $.ajax({
            url: "/Members/GetThanabyDistrict?distid=" + distId,
                method: "GET",

                success: function (data) {
                    console.log(data)
                    var drp = $("#ThanaId");
                    drp.empty();
                    drp.append(' <option value="0">Select Thana</option>')
                    $.each(data, function (i, v) {
                        drp.append("<option value='" + v.id + "'>" + v.name + "</option>")
                    })
                },
                error: function (er) {
                    console.log(er.responseText)
                }
            })
        }


        function loadArea(drp) {

            let thanaId = drp.value

            $.ajax({
            url: "/Members/GetAreabyThana?thnaid=" + thanaId,
                method: "GET",

                success: function (data) {
                    console.log(data)
                    var drp = $("#AreaId");
                    drp.empty();
                    drp.append(' <option value="0">Select Thana</option>')
                    $.each(data, function (i, v) {
                        drp.append("<option value='" + v.id + "'>" + v.name + "</option>")
                    })
                },
                error: function (er) {
                    console.log(er.responseText)
                }
            })
        }


    </script>
}
