<div class="container">
    <div class="row">
        <div class="patient_head">
            <h3>Get Medical Help</h3>
            <h2>Just in few taps!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="patinet_inner">
            <h2>Easy to use</h2>
            <p>
                Get the best user experience on DocTime App. Search for a doctor and get an instant consultation.
                <span>
                    You can join the online queue immediately, while you can continue doing other tasks at home or office.
                </span>
            </p>
        </div>
        </div>

        <div class="col-lg-3">
            <div class="patinet_inner">
            <h2>Any Time</h2>
            <p>
                Talk to a doctor within minutes. Our qualified network of doctors is available 24/7. You can get a consultation and prescription
                whenever you need. Patients and doctors can keep their previous consultation history and view online prescriptions.
            </p>
        </div>
        </div>

        <div class="col-lg-3">
            <div class="patinet_inner">
            <h2>Trusted</h2>
            <p>

                Medihelp's experienced doctors, specialists and therapists are selected carefully. Safety and quality is at the heart of everything we
                do. Each doctor is certified, registered, and operates to the highest clinical standards. DocTime uses 256 bit encryption to secure the
                video consultation.

            </p>
        </div>
        </div>
        <div class="col-lg-3">
            <div class="patient_img">
                <img src="~/images/doctors/doctors-3-round.jpg" alt="doctors-3-round" class="w-100 img-fluid" />
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-6">

      </div>
        <div class="col-lg-6">
            <div class="patient_last_head">
                <h2>
                    When to use Medihelp
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="ptnt_img_headece">
                <img src="~/images//Patient.webp" alt="Patient" class="w-100 img-fluid"/>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="patient_last_inner">
                        <h3>Common Health issue</h3>
                        <p>
                            Ask anything you would normally ask your GP. You can have an instant video with one of our GPs via a digital consultation from
                            anywhere, at any time of day.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="patient_last_inner">
                            <h3>Speciaist Advice</h3>
                            <p>
                                Sometimes it’s helpful to see a specialist when you want. For gynaecology, child specialists, dermatology, cardiology,
                                gastroenterology, nutrition,chronic diseases such as hypertension, or other conditions, DocTime can help you to connect with the right
                                specialist doctor and to stay healthy. More than 20 different specialities are available on DocTime.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="patient_last_inner">
                                <h3>Mental Health And Wellbeing</h3>
                                <p>
                                    In a fast paced world, it is important to monitor and protect your mental health and wellbeing. Doctors can help you stay healthy
                                    whether you have symptoms at home or in your workplace of stress, smoking, anxiety, bereavement or depression.
                                </p>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>