<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"] - Project_BloodDonation</title>
   <!-- Favicons -->
   <link href="~/vendor/img/favicon.png" rel="icon">
   <link href="~/vendor/img/apple-touch-icon.png" rel="apple-touch-icon">
   @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
   <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
   <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet">
   <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
   <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
   @*<link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">*@
   <link href="./vendor/glightbox/css/glightbox.min.css">
   <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
   @*<link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">*@
   <link href="./vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
   <link rel="stylesheet" href="~/Project_BloodDonation.styles.css" asp-append-version="true" />
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


   @* <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
   *@

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link href="~/chosen/chosen.min.css" rel="stylesheet" />
</head>


<body>


   <!-- ======= Top Bar ======= -->
   <div id="topbar" class="d-flex align-items-center fixed-top">
      <div class="container d-flex justify-content-between">
         <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope"></i> <a href="mailto:tusarmolla96@gmail.com">tusarmolla96@gmail.com</a>
            <i class="bi bi-phone"></i> +8801 5589 588 55
         </div>
         <div class="d-none d-lg-flex social-links align-items-center">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
         </div>
      </div>
   </div>

   <!-- ======= Header ======= -->
   <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">

         <h1 class="logo me-auto"><a asp-controller="Home" asp-action="Index">Medihelp</a></h1>
         <!-- Uncomment below if you prefer to use an image logo -->
         <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

         <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
               <li>  <a class="nav-link" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
               @* <li> <a class="nav-link" asp-controller="Doctors" asp-action="DocHome">For Doctor</a></li>
               <li><a class="nav-link" asp-controller="Members" asp-action="Index">Member</a></li>
               <li><a class="nav-link" asp-controller="Donars" asp-action="Donarview">For Donar</a></li>
               <li> <a class="nav-link" asp-controller="Patients" asp-action="PatientView">For Patient</a></li>*@
               @*<li> <a class="nav-link" asp-controller="Thanas" asp-action="Index">Thanas</a></li>
               <li> <a class="nav-link" asp-controller="Diseases" asp-action="Index">Diseaase</a></li>*@
               <li> <a class="nav-link" asp-controller="MemberDeseaseReports" asp-action="Index">MemberDeseaseReports</a></li>
               <li> <a class="nav-link" asp-controller="MembersDeseases" asp-action="Index">MemberDesease</a></li>

               <li class="dropdown">
                  <a class="custom_link">Sign in or Create Account</a>
                  <ul>
                     <li class="login_form">
                        <div class="menu_card">
                           <h5><i class="fa-solid fa-user-doctor"></i> For Doctor</h5>
                           <p>sign in or create<span>to manage your profile</span></p>
                          @* <a class="menu_navaction" href="~/Identity/Account/login?role=Doctor">sign in</a>
                           <a class="menu_navaction" href="~/Identity/Account/Register?role=Doctor">create account</a>*@

                           <a class="menu_navaction" href="~/Identity/Account/Login?role=Doctor">Sign in</a>
                           <a class="menu_navaction" href="~/Identity/Account/Register?role=Doctor">Create Account</a>
                        </div>
                      
                        <div class="menu_card">
                        <h5><i class="fa-solid fa-person"></i> For Donor</h5>
                        <p>Sign in or create<span>to manage your profile</span></p>
                           <a class="menu_navaction" href="~/Identity/Account/Login?role=Donor">Sign in</a>
                           <a class="menu_navaction" href="~/Identity/Account/Register?role=Donor">Create Account</a>
                        </div>

                        <div class="menu_card">
                        <h5><i class="fa-solid fa-hospital-user"></i> For Patient</h5>
                        <p>Sign in or create<span>to manage your profile</span></p>
                           <a class="menu_navaction" href="~/Identity/Account/Login?role=Patient">Sign in</a>
                           <a class="menu_navaction" href="~/Identity/Account/Register?role=Patient">Create Account</a>
                        </div>
                     </li>
                  </ul>
               </li>
               @*<li><a class="nav-link" asp-controller="Thanas" asp-action="Index">Sing in Or Create</a></li>*@


               @*  <li><a class="nav-link scrollto" href="#doctors">Doctors</a></li>*@
   @*            <li class="dropdown">
                  <a href="#"><span>Sing in Or Create</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                     <li><a href="#"></a></li>
                     <li class="dropdown">
                        <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                        <ul>
                           <li><a href="#">Deep Drop Down 1</a></li>
                           <li><a href="#">Deep Drop Down 2</a></li>
                           <li><a href="#">Deep Drop Down 3</a></li>
                        </ul>
                     </li>
                     <li><a href="#">Drop Down 2</a></li>
                     <li><a href="#">Drop Down 3</a></li>
                     <li><a href="#">Drop Down 4</a></li>
                  </ul>
               </li>*@
               @*  <li><a class="nav-link scrollto" href="#contact">Contact</a></li>*@
               @*  <li> @Html.Partial("_loginpartial") </li>*@
            </ul>

            <i class="bi bi-list mobile-nav-toggle"></i>

         </nav><!-- .navbar -->
         @*<a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Make an</span> Appointment</a>*@

      </div>
   </header><!-- End Header -->


   <div class="container-fluid">
      <div>
         <main role="main" class="pb-3">
            @RenderBody()
         </main>
      </div>

   </div>

   <!-- ======= Footer ======= -->
   <footer id="footer">

      <div class="footer-top">
         <div class="container">
            <div class="row">

               <div class="col-lg-3 col-md-6 footer-contact">
                  <h3>Medihelp</h3>
                  <p>
                     A108 Adam Street <br>
                     New York, NY 535022<br>
                     United States <br><br>
                     <strong>Phone:</strong> +1 5589 55488 55<br>
                     <strong>Email:</strong> info@example.com<br>
                  </p>
               </div>

               <div class="col-lg-2 col-md-6 footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                     <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                     <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                     <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                     <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                     <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                  </ul>
               </div>

               <div class="col-lg-3 col-md-6 footer-links">
                  <h4>Our Services</h4>
                  <ul>
                     <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                     <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                     <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                     <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                     <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                  </ul>
               </div>

               <div class="col-lg-4 col-md-6 footer-newsletter">
                  <h4>Join Our Newsletter</h4>
                  <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                  <form action="" method="post">
                     <input type="email" name="email"><input type="submit" value="Subscribe">
                  </form>
               </div>

            </div>
         </div>
      </div>

      <div class="container d-md-flex py-4">

         <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
               &copy; Copyright <strong><span>Tushar Molla</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
               <!-- All the links in the footer should remain intact. -->
               <!-- You can delete the links only if you purchased the pro version. -->
               <!-- Licensing information: h-->
               <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->
               Designed by <a href="#">Tushar Molla</a>
            </div>
         </div>
         <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
         </div>
      </div>
   </footer><!-- End Footer -->

   
   <script src="~/lib/jquery/dist/jquery.min.js"></script>
   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
   @*<script src="~/vendor/glightbox/js/glightbox.min.js"></script>*@
   <script src="./vendor/glightbox/js/glightbox.min.js"></script>
   @*<script src="~/vendor/swiper/swiper-bundle.min.js"></script>*@
   <script src="./vendor/swiper/swiper-bundle.min.js"></script>
   <script src="~/js/site.js" asp-append-version="true"></script>
   <script src="~/js/main.js" asp-append-version="true"></script>

   <script src="~/js/chosen.jquery.min.js"></script>
   @await RenderSectionAsync("Scripts", required: false)




   <!-- Vendor JS Files -->
   @*  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@




   <!-- Template Main JS File -->
   <script src="assets/js/main.js"></script>

</body>
</html>
