<div class="container">
    <div class="row">
        <div class="col-lg-7"> 
            <div class="blood_Details">
                <h1>Blood Banking</h1>
                <h2 class="mt-5">What is blood banking?</h2>
                <p>Blood banking is the process that takes place in the lab to make sure that donated blood, or blood products, are safe before they are used in blood transfusions and other medical procedures. Blood banking includes typing the blood for transfusion and testing for infectious diseases.</p>
                <h3>Who May Donate Blood?</h3>
                <h4>Blood donation is a healthy habit that helps blood renewal and it is not hazardous at all. The volume of blood collected from a donor is about 450ml, this volume is compensated within 24hrs of donation and body replace the lost red cells within several weeks. Eligible healthy donors (age 18 to 60 years, having Hb >12gm/dl and weight >45) male can donate blood every 4 months interval and female every 6 months interval. Platelet Apheresis donor’s age should be 18 to 60 years weight >50kg and has not taken the medicine Plavix/Ticlid for last 14 days.</h4>
                <h3>Some Instructions Prior Blood Donation:</h3>
                <ul>
                    <li><i class="fa-solid fa-chevron-right"></i> Do not donate blood on an empty stomach.</li>
                    <li> <i class="fa-solid fa-chevron-right"></i> Maintain a gap of 30 min after meal.</li>
                    <li><i class="fa-solid fa-chevron-right"></i> Good sleep on the previous night.</li>
                    <li> <i class="fa-solid fa-chevron-right"></i> Drink water (2 glass) before blood donation</li>
                    <li> <i class="fa-solid fa-chevron-right"></i> Do not donate blood if you have fever, taking antibiotics or aspirin or antihistamine or insulin.</li>
                    <li><i class="fa-solid fa-chevron-right"></i>Do not take alcohol 24hrs prior blood donation.</li>
                    <li><i class="fa-solid fa-chevron-right"></i>Do not smoke 30 min before or after blood donation.</li>
                    <li><i class="fa-solid fa-chevron-right"></i>Avoid driving, vigorous exercise or playing tennis for at least 2-3hrs after blood donation.</li>                
                </ul>
                <h3>Some Instructions after Blood Donation: </h3>
                <ul>
                    <li><i class="fa-solid fa-chevron-right"></i>Eat and Drink something before leaving the blood donor area.   </li>
                    <li><i class="fa-solid fa-chevron-right"></i>Drink more fluid for next 4 hours.</li>
                    <li><i class="fa-solid fa-chevron-right"></i>If there is bleeding from phlebotomy site raise arm and apply pressure to the site.</li>
                    <li><i class="fa-solid fa-chevron-right"></i>If fainting or dizziness occur either lie down or sit with the head between the knees.</li>
                    <li><i class="fa-solid fa-chevron-right"></i>If the symptom persist either telephone or returns to the blood bank or see a doctor.</li>
                    <li><i class="fa-solid fa-chevron-right"></i>Resume all normal activity if asymptomatic.</li>
                    <li><i class="fa-solid fa-chevron-right"></i>Remove bandage after 1 hour.</li>
                    
                </ul>
                <h3>Blood Component available in Medihelp:</h3>
                <ul>
                    <li><i class="fa-solid fa-chevron-right"></i>Whole Blood</li>
                    <li><i class="fa-solid fa-chevron-right"></i>Packed Red Blood Cell (PBRC)</li>
                    <li><i class="fa-solid fa-chevron-right"></i>Fresh Frozen Plasma (FFP)</li>
                    <li><i class="fa-solid fa-chevron-right"></i>Platelet Concentrate</li>
                    <li><i class="fa-solid fa-chevron-right"></i>Apheresis Platelet</li>
                    <li><i class="fa-solid fa-chevron-right"></i>Fresh Platelet Riched Plasm</li>
                    <li><i class="fa-solid fa-chevron-right"></i>Cryoprecipitate (15ml)</li>
                    <li><i class="fa-solid fa-chevron-right"></i>Cryo poor plasma (180ml)</li>
                    <li><i class="fa-solid fa-chevron-right"></i>Autologous PRP</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-5 mt-3">
            <div class="fordonate">
                <h2>For Donate Or Recieve</h2>
                <div class="row justify-content-center">
                    <div class="col-lg-2">
                        <div class="downarrow">
                            <i class="fa-solid fa-arrow-down"></i>
                        </div>
                    </div>
                </div>
                <a href="#">Log in / Sign up</a>
            </div>
        </div>
    </div>
</div>