@model Patient
<label>ChiefComplaints</label>
<p class="text-muted">@Model.ChiefComplain</p>

<label>DifferentDiagnosis</label>
<p class="text-muted">@Model.DifferentDiagnosis</p>

<label>LabrotoryFindings</label>
<p class="text-muted">@Model.LabrotoryFindings</p>

