@model Project_BloodDonation.Models.Thana

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .visible {
        display: inline-block;
    }

    .invisible {
        display: none;
    }

    .details {
        width: 20%;
    }

    .tbldetails {
        width: 100%;
        font-size: 13px;
    }
</style>

<h1>Enter Thana With Area </h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DistricId" class="control-label"></label>
                <select asp-for="DistricId" class="form-control" asp-items="ViewBag.DistricId"></select>
                </div>

            <div class="col-md-12">
                <input type="hidden" id="hdnLastIndex" value="0" />
                <table class="table table-bordered" id="thanaEx">
                    <thead>
                        <tr>
                            <td>Name</td>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Areas.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.TextBoxFor(m=>m.Areas[i].Name,new {@class="form-control"})
                                </td>
                                <td>
                                    <button id="btnAdd-@i" type="button" onclick="AddItem(this)" class="btn btn-sm btn-secondary visible">Add</button>
                                    <button id="btndel-@i" type="button" onclick="DeleteItem(this)" class="btn btn-sm btn-danger invisible">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {

        })
        function AddItem(btn) {
            var table = document.getElementById('thanaEx');
            var rows = table.getElementsByTagName('tr');

            var rowOuterHtml = rows[rows.length - 1].outerHTML;

            var lastrowIdx = document.getElementById('hdnLastIndex').value;

            var nextrowIdx = eval(lastrowIdx) + 1;

            document.getElementById('hdnLastIndex').value = nextrowIdx;

            rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx + '_', '_' + nextrowIdx + '_');
            rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
            rowOuterHtml = rowOuterHtml.replaceAll('-' + lastrowIdx, '-' + nextrowIdx);


            var newRow = table.insertRow();
            newRow.innerHTML = rowOuterHtml;



            var btnAddID = btn.id;
            var btnDeleteid = btnAddID.replaceAll('btnAdd', 'btndel');

            var delbtn = document.getElementById(btnDeleteid);
            delbtn.classList.add("visible");
            delbtn.classList.remove("invisible");


            var addbtn = document.getElementById(btnAddID);
            addbtn.classList.remove("visible");
            addbtn.classList.add("invisible");

        }
        function DeleteItem(btn) {

            console.log(i)
            $(btn).closest('tr').remove();
        }
    </script>
}
