@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-5 Authmt">
        <div class="card login-logout-card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Login">
                            Log In
                        </a>
                    </li>
                    <li class="nav-item">
                       @* <a class="nav-link" href="/Identity/Account/Register">
                            Register
                        </a>*@

                 
                  <input class="nav-link" type="button" name="theButton" value="Register"
                         id="btnRegi">
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10 my-4">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
           
         var currLoc = $(location).attr('href'); oc = $(location).attr('href');
         console.log("here I am");
         console.log(currLoc)

         var url = currLoc.slice(window.location.href.indexOf('?') + 1).split('&');
         console.log(url)
         for (var i = 0; i < url.length; i++) {
            var urlparam = url[i].split('=');
            var returnUrl= urlparam[1]
            console.log( "return Url: "+returnUrl.toString())
            //if (urlparam[0] == param) {
            //    urlparam[1];
            //}
            console.log(urlparam)
         }
         $("#btnRegi").click(function(){
            var a = '/Identity/Account/Register?' + returnUrl;
            console.log(a)
            window.location = '/Identity/Account/Register?ReturnUrl=' + returnUrl;
         })

         const currentPage = location.pathname;
         console.log(currentPage)

            $('.nav-tabs li a').each(function () {
                const $this = $(this);
                console.log(currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()))
                if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>
}