@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-5 Authmt">
        <div class="card login-logout-card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                  <a class="nav-link"   id="btnLogin">
                            Log In
                        </a>
                    </li>
                    <li class="nav-item">
                       @* <a class="nav-link" href="/Identity/Account/Register">
                            Register
                        </a>*@

                 
                  <input class="nav-link" type="button" name="theButton" value="Register"
                         id="btnRegi">
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10 my-4">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
           
         var currLoc = $(location).attr('href'); oc = $(location).attr('href');
         console.log("here I am");
          

         //var url = currLoc.slice(window.location.href.indexOf('?') + 1).split('&');
         //console.log(url)
         //var returnUrl ="";
         //var role="";
         //for (var i = 0; i < url.length; i++) {
         //   var urlparam = url[i].split('=');
         //      console.log(urlparam[0] === "role")
         //   if (urlparam[0] === "returnUrl")
         //   {
         //      returnUrl = urlparam[1]
         //   }
         //   if (urlparam[0] === "role") {
         //      role = urlparam[1]
         //      console.log(role)
         //   }
         //}
         //var qstring= "";
         //console.log(role.length)
         //if(returnUrl.length>0)
         //{
         //   qstring = 'ReturnUrl=' + returnUrl;
         //   console.log(qstring)
         //}
         //if (role.length>0) {
         //   qstring = 'role=' + returnUrl;
         //   console.log("role st")
         //   console.log(qstring)
         //}
         
         $("#btnRegi").click(function(){
            var url = currLoc.slice(window.location.href.indexOf('?') + 1).split('&');
            console.log(url)
            var returnUrl = "";
            var role = "";
            for (var i = 0; i < url.length; i++) {
               var urlparam = url[i].split('=');
               console.log(urlparam[0] === "role")
               if (urlparam[0] === "returnUrl") {
                  returnUrl = urlparam[1]
               }
               if (urlparam[0] === "role") {
                  role = urlparam[1]
                  console.log(role)
               }
            }
            var qstring = "";
            console.log(role.length)
            if (returnUrl.length > 0) {
               qstring = 'ReturnUrl=' + returnUrl;
               console.log(qstring)
            }
            if (role.length > 0) {
               qstring = 'role=' + returnUrl;
               console.log("role st")
               console.log(qstring)
            }
            window.location = '/Identity/Account/Register?'+ qstring;
         })
         $("#btnLogin").click(function () {
            var url = currLoc.slice(window.location.href.indexOf('?') + 1).split('&');
            console.log(url)
            var returnUrl = "";
            var role = "";
            for (var i = 0; i < url.length; i++) {
               var urlparam = url[i].split('=');
               console.log(urlparam[0] === "role")
               if (urlparam[0] === "returnUrl") {
                  returnUrl = urlparam[1]
               }
               if (urlparam[0] === "role") {
                  role = urlparam[1]
                  console.log(role)
               }
            }
            var qstring = "";
            console.log(role.length)
            if (returnUrl.length > 0) {
               qstring = 'ReturnUrl=' + returnUrl;
               console.log(qstring)
            }
            if (role.length > 0) {
               qstring = 'role=' + returnUrl;
               console.log("role st")
               console.log(qstring)
            }

                      window.location = '/Identity/Account/Login?' + qstring;
         })


         const currentPage = location.pathname;
         console.log(currentPage)

            $('.nav-tabs li a').each(function () {
                const $this = $(this);
                console.log(currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()))
                if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>
}