@model Project_BloodDonation.ViewModels.DoctorViewModels
<h2 class="docindxmt text-center">Enter Doctor Information</h2>

<div class="container">
    <main class="main" id="main">
        <div class="row">
            <div class="col-lg-12">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <h2 class="Binfo">Basic Information</h2>
                        <hr />
                        <div class="col-lg-6 ">
                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Contact" class="control-label"></label>
                                <input asp-for="Contact" class="form-control" />
                                <span asp-validation-for="Contact" class="text-danger"></span>
                            </div> 
                            
                            <div class="form-group">
                                <label asp-for="AreaOfConsultation" class="control-label"></label>
                                <input asp-for="AreaOfConsultation" class="form-control" />
                                <span asp-validation-for="AreaOfConsultation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SpecialInterest" class="control-label"></label>
                                <input asp-for="SpecialInterest" class="form-control" />
                                <span asp-validation-for="SpecialInterest" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                                
                            </div>
                            <div class="form-group">
                                <label asp-for="Role" class="control-label"></label>
                                <select asp-for="Role" class="form-control" asp-items="@ViewBag.Role" >
                                    <option value="0">Select Role</option>
                                </select>
                                <span asp-validation-for="Role" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PassWord" class="control-label"></label>
                               <input asp-for="PassWord" class="form-control"/>
                               <span asp-validation-for="PassWord" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Institute" class="control-label"></label>
                                <input asp-for="Institute" class="form-control" />
                                <span asp-validation-for="Institute" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group mt-3">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mt-3">
                                <a asp-action="Index" class="btn btn-success">Back to List</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>