

<div class="container">
<div class="row">
            <div class="col-lg-6">
           <div class="Docinner">
                <h2 class="dochomemt">
                    Are You <span>
                        A Qualified Doctor?
                    </span>
                </h2>
                <h3>
                    Join the forefront of digital healthcare
                </h3>
                <p>
                    Join Medihelp network and create your virtual chamber provide medical consultancy via video call and expand the reach of your service.
                    <span>Enroll yourself just in minutes!</span>
                </p>
              @*  <a asp-controller="Doctors" asp-action="Create" asp-route-role="doctor">Sign up now</a>*@
            <a asp-controller="Doctors" asp-action="Create" asp-route-role="doctor">Sign up now</a>
           </div>
        </div>
    

    <div class="col-lg-6">
           <div class="Docimage">
                <img src="~/images/about.jpg" alt="about.jpg" class="w-100 img-fluid" />
           </div>
    </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="docbenifit">
                <h2>Benefits Of Joining</h2>
                <p>Doctors can join the platform using our simple on boarding process. We verify every doctor to make sure only BMDC authorised doctors are providing consultation using our latest technology.
                    <span>
                        You will be at the forefront of digital healthcare innovations providing accessible patient care for all You will be working independently, making autonomous medical decisions, and supported by our DocTime technical team who are here to assist both patient and yourself when you’re on session or outside sessions..
                    </span>
                </p>
            </div>
        </div>
    </div>


    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
        <div class="container">

            <div class="section-title">
                <h2>Doctors</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="~/images/doctors/doctors-1.jpg" class="img-fluid" alt="doctors-1.jpg"></div>
                        <div class="member-info">
                            <h4>Walter White</h4>
                            <span>Chief Medical Officer</span>
                            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="~/images/doctors/doctors-2.jpg" class="img-fluid" alt="doctors-2.jpg"></div>
                        <div class="member-info">
                            <h4>Sarah Jhonson</h4>
                            <span>Anesthesiologist</span>
                            <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="~/images/doctors/doctors-3.jpg" class="img-fluid" alt="doctors-3.jpg"></div>
                        <div class="member-info">
                            <h4>William Anderson</h4>
                            <span>Cardiology</span>
                            <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="~/images/doctors/doctors-4.jpg" class="img-fluid" alt="doctors-4.jpg"></div>
                        <div class="member-info">
                            <h4>Amanda Jepson</h4>
                            <span>Neurosurgeon</span>
                            <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Doctors Section -->
</div>